[Desktop Entry]
Name=Verso
Comment=Edit (XMP/JPEG) image metadata
Comment[de]=Bildmetadaten (XMP/JPEG) bearbeiten
Exec=verso %f
Icon=verso
Type=Application
Terminal=false
Categories=Graphics;
MimeType=image/jpeg;image/jpg
