[Desktop Entry]
Name=Verso
Comment=editor for embedded image metadata
Comment[de]=Editor für eingebettete Bildmetadaten
Exec=verso %f
Type=Application
Terminal=false
Categories=Graphics;
MimeType=image/jpeg;image/jpg
